.container{
    height:fit-content;
    width: 950px;
    display:flex;
    flex-wrap: wrap;
    align-content:space-between;
    justify-content: space-between;
}
.grid{
    height:fit-content;
    width:fit-content;
    border-collapse: collapse;
    display:table;
}
.run-it{
    height: 90px;
    width:90px;
    background:rgb(116, 240, 157);
    margin-top:30px;
    text-align: center;
}
.reset{
    height: 90px;
    width:90px;
    background:rgba(238, 115, 115, 0.884);
    margin-top:30px;
    text-align: center;
}
.run-it:hover{
    cursor: pointer;
}
.reset:hover{
    cursor: pointer;
}